body {
    color: blue;
    font-size: 16px;
}

p {
    font-size: 24px;
    background-color: yellow;
}

h3 {
    color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#exp {
    text-decoration: underline;
}


.inner-container {
    margin: 100px 20px;
    padding: 16px;
}

.nested-container {
    border-top: 2px red dotted !important;
    border: 3px blue solid;
    border-radius: 2px;
    padding: 20px;
    margin-top: -22px !important;
    margin: 0 16px;
}

.floatObject {
    position: relative;
    top: 20px; 
    right: 25px;
}

.decor-1 {
    text-decoration: underline;
    font-size: 1.5em;
}